.nav-container {
    position: relative; 
    text-align: left;
    font-family: 'Open Sans Light';
    font-weight: 300;
    text-size-adjust: 3.75rem;
}

.container-1 {
    position: relative;
    }

.cover-image {
    position: relative;
    width: 100%;
    height: 18.75rem; 
    background-image: url('/assets/coffee-circle.jpg'); 
    background-size: cover;
    background-position: center;
}

.menu-overlay {
    position: absolute;
    background-color: #393939; 
    padding: 2.5rem; 
}

.menu-overlay h1 {
    margin: 0;
    text-align: top;
    color: #FFF; 
}

.container-2 {
    position: relative;
    background-color: #393939; 
    text-align: center;
    color: #FFF;
}

.hot-drinks-container {
    position: relative;
    background-color: #FFF0ED; 
    text-align: center;
}

.cold-drinks-container {
    position: relative;
    background-color: #F7F7F7;
    text-align: center;
}

.pastries-container {
    position: relative;
    background-color: #FFF0ED; 
    text-align: center;
}